doctype html
html(lang="ru-RU")
  head
    title
      block title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block links
    link(href="css/main.min.css" rel="stylesheet")      
  body
    include ../blocks/header.pug
    block content
    include ../blocks/footer.pug
    block scripts
